@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var pi = Model.PaginationInfo;
}

<h1>Products</h1>

<div class="border rounded bg-light p-2 my-3">
    <form method="get" class="form-inline">
        <label asp-for="BrandId" class="mr-sm-2 mb-sm-0 mb-sm-0 mb-2">Brand</label>
        <select asp-for="BrandId" asp-items="Model.Brands" class="form-control mr-sm-2 mb-sm-0 mb-sm-0 mb-2"></select>

        <label asp-for="CategoryId" class="mr-sm-2 mb-sm-0 mb-sm-0 mb-2">Category</label>
        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control mr-sm-2 mb-sm-0 mb-sm-0 mb-2"></select>
        <button class="btn btn-primary">List</button>
    </form>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="~/img/products/@product.PictureUri" alt="@product.Name" class="w-100" />
                    <div class="product-name mt-2" title="@product.Name">@product.Name</div>
                    <div class="mt-2">@product.PriceTry</div>
                </div>
            </div>
        </div>
    }
</div>

<div class="text text-center mt-3">Showing @pi.DisplayStart to @pi.DisplayEnd of @pi.TotalItems products</div>
<nav class="d-flex justify-content-center mt-2">
    <ul class="pagination">
        <li class="page-item @(!pi.HasPrevious ? "disabled" : "")">
            <a class="page-link" asp-route-categoryId="@Model.CategoryId" asp-route-brandId="@Model.BrandId" asp-route-pageId="@(pi.CurrentPage - 1)">&laquo;</a>
        </li>
        @foreach (var pageNumber in pi.PageNumbers)
        {
            if (pageNumber == -1)
            {
                <li class="page-item disabled)">
                    <a tabindex="-1" class="page-link">&hellip;</a>
                </li>
            }
            else
            {
                <li class="page-item @(pageNumber == pi.CurrentPage ? "active" : "")">
                    <a tabindex="-1" class="page-link" asp-route-categoryId="@Model.CategoryId" asp-route-brandId="@Model.BrandId" asp-route-pageId="@pageNumber">@pageNumber</a>
                </li>
            }
        }
        <li class="page-item @(!pi.HasNext ? "disabled" : "")">
            <a class="page-link" asp-route-categoryId="@Model.CategoryId" asp-route-brandId="@Model.BrandId" asp-route-pageId="@(pi.CurrentPage + 1)">&raquo;</a>
        </li>
    </ul>
</nav>